/* Navbar */
.navbar{
    margin-bottom: 2%;
    padding: 15;
}
.nav-text{
    color: #fff; 
    font-size: 20px;  
}

/* weather dashboard section */
#main{
    width: 70%;
    margin-left: 30px;
    text-align: center;
}

/* Search and cityList */
#search-city{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}
#cityList{
    width: 25%;
    border: 2px solid rgb(189, 188, 188);
    cursor: pointer;
}
#Btn{
    margin-top: 15px;
    background-color:rgb(18, 75, 172);
    color:#fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;

}
#search{
   text-align: left;
   margin-bottom: 10px;
   margin-left: -12px;
}
h4{
    margin-top: 15px;
}

/* display weather */
.info-screen{
    background-color: rgb(235, 235, 235);
    height: 70%;
    padding-top: 15px;
}

/* forecasetDays */
#day1,
#day2,
#day3,
#day4,
#day5
{
    background-color: #87ceeb;
    padding: 5px 25px;
    margin: 10px;
    border-radius: 20px;
    color: #000;
}

/* UVI section */
.uvi {
    padding: 5px;
    border-radius: 14px;
    color: white;
}

.severe {
    background-color: red;
}

.moderate {
    background-color: orange;
}

.favorable {
    background-color: green;
}


@media screen and (max-width: 991px) {
    body {
      background-color: rgb(220, 240, 223);
    }
    #cityList{
        width: 100%;      
    }
}